body{
    padding: 50px;
}

#thumbs{
    margin-left: -6px;
    margin-right: -6px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img-wrapper{
    display: table;
    height: 140px;
    width: 235px;
    table-layout: fixed;
    float: left;
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 12px;
    margin-top: 40px;
}
.outer{
    height: 100%;
}
.inner{
    padding: 5px;
    border-radius: 6px;
    border: 1px solid rgb(242, 242, 242);
    background-color: rgb(0, 0, 0);
    display: table;
    width: 100%;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    height: 100%;
}
.inner img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 125px;
}

.loader-wrapper{
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 20000;
    background:yellow;
}
.loader-wrapper.shown{
    display: block;
}

.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
}
.lds-circle > div {
  display: inline-block;

  width: 51px;
  height: 51px;
  margin: 6px;
  border-radius: 50%;
  background: hotpink;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

.search-bar {
  padding: 20px;
  background-color: rgba(194, 194, 194, 0.228);
  border-style: none;
  border-radius: 10px;
  color: rgb(0, 0, 0);
}


.search-bar:focus {
  outline:none;
}

.btn-outline-secondary {
  color: white;
  background-color: rgb(164, 7, 7);
  border-style: none;
  width: 50px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* border: 1px solid transparent; */
  /* padding: .375rem .75rem; */
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.button {
  height: 40px;
  margin-left:10px;
}

